# Uncomment if you want to deploy layers only to a single region (for example to test)
#ONLY_REGION=us-east-1

# If you want to use a specific AWS profile, uncomment the following line and set the profile name
#AWS_PROFILE=your-profile-name

# Limit the parallelization of layer publication.
# Default is 7, we recommend a lower number when publishing from a laptop.
MAX_PARALLEL_PUBLISH=3
